/**
 * @fileoverview The main css implementation for quotr.github.io, 2016.
 * @author afablee@gmail.com, @superafable
 */

body {
	background-color: #fff;
	background-image: -webkit-gradient(linear, left bottom, right top, from(hsla(0, 100%, 70%, 0.66)), to(hsla(180, 100%, 70%, 0.66)));
	background-image: -webkit-linear-gradient(45deg, hsla(0, 100%, 70%, 0.66), hsla(180, 100%, 70%, 0.66));
	background-image: -moz-linear-gradient(45deg,hsla(0, 100%, 70%, 0.66), hsla(180, 100%, 70%, 0.66));
	background-image: linear-gradient(to right top,hsla(0, 100%, 70%, 0.66), hsla(180, 100%, 70%, 0.66));
	background-image: linear-gradient(to right top, hsla(0, 100%, 70%, 0.66), hsla(180, 100%, 70%, 0.66));

	width: 100vw;
	height: 100vh;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
	margin: 0 auto;
}

.container {
	text-align: center;
}
